body, .menu a {
	font-family: futura;
	background: #c7cfda;
	text-align: center;
	text-decoration: none;
	color: #013269;
}

h1 {
	font-size: 60px;
	padding: 0px;
}

.menu {
	display: inline-table;
	opacity: .6;
	padding: 10px;
}

.menu:hover {
	opacity: 1;
}

@media (max-width: 500px) {
	h1 {font-size:40px;}
}