/*Fonts*/
@font-face {
	font-family: lintel;
	src: url('fonts/lintel.otf');
}

/*General Things*/
html, body {
	font-family: lintel;
	background: #FDF3E7;
	text-align: center;
	text-decoration: none;
	color: #3B3738;
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1 {
	font-size: 60px;
	padding: 0px;
}

nav {
	font-size: 20px;
}

/*Classes*/
.headshot {
	text-align: center;
	background-color: #3B3738;
	background-size: cover;
	margin-top: 70px;
	padding-top: 100px;
	color: #FDF3E7;
}

.headshot img {
	border: none;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
}

.navbar-brand:hover {
  color: #3B3738;
}

.panel-footer {
	background-color: #3B3738;
}

/*IDs*/
#JBrillz, #Portfolio {
	padding-top: 125px;
	padding-bottom: 125px;
}

#to-top {
	margin-top: -70px;
}

#lnkdn {
	background-image: url(images/linkedin.png);
}

#lnkdn:hover {
	background-image: url(images/colorin.png);
}

#fb {
	background-image: url(images/fb.png);
}

#fb:hover {
	background-image: url(images/colorfb.png);
}

#gh {
	background-image: url(images/github.png);
}

#gh:hover {
	background-image: url(images/colorgh.png);
}

.box {
	height: 328px;
	width: 328px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(images/jcc.png);
	font-size: 100px;
	opacity: 1;
}

.box p {
	opacity: 0;
	padding-top: 115px;
	color: #FDF3E7;
}

.box:hover {
	opacity: .5;
	cursor: pointer;
}

.box:hover > p {
	opacity: 1;
}

/*Transition Property*/
.box, .box p, .box:hover, .box:hover > p {
	-webkit-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
}

#gh, #gh:hover, #fb, #fb:hover, #lnkdn, #lnkdn:hover {
	-webkit-transition: background-image .3s ease;
	-o-transition: background-image .3s ease;
	transition: background-image .3s ease;	
	-moz-transition: background-image .3s ease;
}